ul,
ol,
menu {
  list-style: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

img {
  max-width: 100%;
}

figure img {
  width: 100%;
  display: block;
}

/* HEADER */

.page-header {
  background-color: #2c3e51;
  color: white;
}

.nav-items {
  gap: 10px;
}

.nav-hamburger {
  color: lightgray;
  line-height: 28px;
  padding: 2px 13px;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 20px;
}

/* HERO */

.hero {
  background-color: #1abc9c;
  color: white;
}

.main-logo {
  width: 200px;
}

.icon {
  font-size: 30px;
}

/* ABOUT */
.about {
  background-color: #1abc9c;

  color: white;
}

.download {
  border: 1px solid white;
}

/* MEDIA QUERIES */
@media (min-width: 576px) {
  .logo {
    font-size: 15px;
  }

  .hero-title {
    font-size: 27px;
  }
  .hero-subtitle {
    font-size: 15px;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .logo {
    font-size: 27px;
  }

  .hero-title {
    font-size: 57px;
  }
  .hero-subtitle {
    font-size: 25px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}

/* DEBUG */
/* .debug [class^='container'] {
  padding: 10px;
  border: 1px solid cornflowerblue;
}
.debug .row {
  padding: 10px;
  border: 1px solid magenta;
} */
.debug [class^='col'] {
  /* padding: 10px; */
  border: 1px solid greenyellow;
}
